@media (min-width: 768px) {
  #content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
  }
  #left {
    display: grid;
    justify-items: center;
    align-items: start;
    width: 100%;
    height: 100vh;
  }

  .half-circle-photo {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0 50% 50% 0;
    border: 10px solid #800000;
    border-left: none;
  }
  #photo {
    width: 100%;
    height: 100%;
    object-fit: cover; /* fills shape */
    display: block;
  }

  #right {
    padding-left: 10vh;
    display: grid;
    align-items: start;
    overflow-y: auto; /* vertical scroll */
  }
  #name-title {
    padding: 50% 0 10% 0;
    font-size: 64px;
    color: #800000;
    position: relative;
    text-decoration: underline;
  }
  /* blinking cursor */
  #name-title::after {
    content: "|";
    display: inline-block;
    margin-left: 4px;
    animation: blink 1s step-start infinite;
  }
  @keyframes blink {
    0%,
    50% {
      opacity: 1;
    }
    50.01%,
    100% {
      opacity: 0;
    }
  }
  #intro {
    font-size: 20px;
    color: #5b0000;
    max-width: 40rem;
    line-height: 1.4;
    font-weight: 550;
  }

  #link-section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 2%;
    margin: 5%;
    cursor: pointer;
  }
  .icon {
    align-items: center;
    text-decoration: none;
  }
  .right-link {
    width: 90%;
    height: 100%;
    display: block;
    box-shadow: 0 4px 10px #800000;
    border-radius: 1rem;
    padding: 1%;
    text-decoration: none;
    color: antiquewhite;
    background-color: rgba(128, 0, 0, 0.9);
  }

  .right-link:hover {
    background-color: rgb(140, 0, 0);
  }
}
