#root {
  box-sizing: border-box;
  justify-content: center;
}
#main {
  align-items: center;
  width: 70%;
  padding-top: 5%;
  padding: 2%;
  display: grid;
  height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
}

#name-title {
  color: #800000;
  margin-top: 0;
}

#title-card {
  margin-top: 1rem;
  padding: 0.75rem 1rem;
  border-left: 3px solid #800000;
  background-color: rgba(252, 251, 248, 0.8);
  border-radius: 0.3rem;
  color: #800000;
}

#post-content {
  margin-top: 1rem;
  padding: 0.75rem 1rem;
  border-left: 3px solid #800000;
  background-color: rgba(252, 251, 248, 0.8);
  border-radius: 0.3rem;
  color: #800000;
}
#post-content > p {
  margin: 0.1rem 0;
  color: #800000;
}
.post-body p {
  margin: 1.5rem 0;
  line-height: 1.5;
  font-size: 0.95rem;
  color: #800000;
}
